/*..................................................................................specialities*/

@import url('https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700,800');

html {
    margin: 0;
    padding: 0;
}

.margin {
    margin: 0px;
    padding: 0px;
}

.uppercase {
    text-transform: uppercase;
}

/*..................................................................................bg-colors*/

.header-bg-color {
    background-image: url(../images/header-background.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

.footer-bg-color {
    background-color: #717171;
}

/*..................................................................................header*/

.title {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-top: 10px;
}

.box {
    border: #000 solid 1px;
    background-color: #000;
    border-radius: 30px;
    width: 210px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*..................................................................................home page main*/

.section {
    padding: 0;
    margin: 0;
}

.our-songs-logo {
    background-image: url(../images/our-songs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social-media-logo {
    background-image: url(../images/social-media.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.our-events-logo {
    background-image: url(../images/our-events.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.our-story-logo {
    background-image: url(../images/our-story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-page-links {
    width: 100%;
    height: 360px;
    padding: 0px;
    margin: 0px;
}

.title-2 {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    margin-top: 180px;
    padding: 0px;
}

.border {
    border: #000 solid 1px;
    background-color: #000;
    border-radius: 30px;
    padding: 10px;
}

section div a .hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.7) !important;
}

/*..................................................................................footer*/

.footer-title {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-weight: 700;
    font-size: 10px;
}

.footer-p {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.btn {
    margin-top: 5px;
    background-color: #8f8f8f;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.btn:hover {
    background-color: #ff1313;
    color: #ffffff;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.social-links li a i:hover {
    background: #ff1313;
}


/*..................................................................................media*/

@media (min-width: 400px) {
    .title {
        font-size: 30px;
    }

    .box {
        width: 300px;
    }

    .title-2 {
        font-size: 30px;
    }

    .footer-title {
        font-size: 15px;
    }
}

@media (min-width: 850px) {
    .title {
        font-size: 60px;
    }

    .home-page-links {
        width: 50%;
    }

    .box {
        width: 600px;
    }

    .title-2 {
        font-size: 40px;
    }

    .footer-title {
        font-size: 15px;
    }
}